<% card_inf = Pokemon::Card.find(cube_card.set_id.to_s + '-' + cube_card.card_number.to_s) %>
<fieldset>
  <legend><strong><%= card_inf.name %></strong></legend>
  <%
  if card_inf.nil?
    exit
  else
  %>
    <p><%= card_inf.image_url %></p>
    <p><%= image_tag card_inf.image_url, alt: card_inf.image_url %></p>
  <% end %>
  <%= link_to 'Remove', [cube_card.cube, cube_card], method: :delete  %>
</fieldset>
