<fieldset>
  <legend><strong>Card Included</strong></legend>
  <%
    card_inf = Card.where(:id => cube_card.card_id).take

    set_abbreviations = {
      "crimson-invasion" => "cri",
      "shining-legends" => "shl",
      "burning-shadows" => "bus",
      "guardians-rising" => "gri",
      "sun-and-moon" => "sum",
      "evolutions" => "evo",
      "steam-siege" => "sts",
      "fates-collide" => "fco",
      "generations" => "gen",
      "breakpoint" => "bkp",
      "breakthrough" => "bkt",
      "ancient-origins" => "aor",
      "roaring-skies" => "ros",
      "double-crisis" => "dcr",
      "primal-clash" => "prc",
      "phantom-forces" => "phf",
      "furious-fists" => "ffi",
      "flashfire" => "flf",
      "xy" => "xy",
      "kalos-starter-set" => "kss",
      "xy-promos" => "pr",
      "legendary-treasures" => "ltr",
      "plasma-blast" => "plb",
      "plasma-freeze" => "plf",
      "plasma-storm" => "pls",
      "boundaries-crossed" => "bcr",
      "dragon-vault" => "drv",
      "dragons-exalted" => "drx",
      "dark-explorers" => "dex",
      "next-destinies" => "nxd",
      "noble-victories" => "nvi",
      "emerging-powers" => "epo",
      "black-and-white" => "blw",
      "black-and-white-promos" => "pr",
      "mcdonald-s-collection-2011" => "mcd",
      "mcdonald-s-collection-2012" => "mcd",
      "call-of-legends" => "cl",
      "triumphant" => "tm",
      "undaunted" => "ud",
      "unleashed" => "ul",
      "heartgold-and-soulsilver" => "hs",
      "heartgold-and-soulsilver-promos" => "pr",
      "arceus" => "ar",
      "supreme-victors" => "sv",
      "rising-rivals" => "rr",
      "platinum" => "pl",
      "stormfront" => "sf",
      "legends-awakened" => "la",
      "majestic-dawn" => "md",
      "great-encounters" => "ge",
      "secret-wonders" => "sw",
      "mysterious-treasures" => "mt",
      "diamond-and-pearl" => "dp",
      "diamond-and-pearl-promos" => "pr",
      "power-keepers" => "pk",
      "dragon-frontiers" => "df",
      "crystal-guardians" => "cg",
      "holon-phantoms" => "hp",
      "legend-maker" => "lm",
      "delta-species" => "ds",
      "unseen-forces" => "uf",
      "emerald" => "em",
      "deoxys" => "dx",
      "team-rocket-returns" => "rr",
      "firered-and-leafgreen" => "rg",
      "hidden-legends" => "hl",
      "team-magma-vs-team-aqua" => "ma",
      "dragon" => "dr",
      "sandstorm" => "ss",
      "ruby-and-sapphire" => "rs",
      "skyridge" => "sk",
      "aquapolis" => "aq",
      "expedition" => "ex",
      "neo-destiny" => "n4",
      "neo-revelation" => "n3",
      "neo-discovery" => "n2",
      "neo-genesis" => "n1",
      "gym-challenge" => "g2",
      "gym-heroes" => "g1",
      "team-rocket" => "tr",
      "base-set-2" => "b2",
      "fossil" => "fo",
      "jungle" => "ju",
      "base-set" => "bs",
      "rumble" => "ru",
      "legendary-collection" => "lc",
      "southern-islands" => "si"
    }

    if card_inf != nil
      card_arr = {
        :name => card_inf[:name].downcase.sub(" ", "-").gsub(/[^\w\-]/, ""),
        :set => card_inf[:set].downcase.sub(" ", "-").gsub(/[^\w\-]/, "")
      }
      card_arr[:abbr] = set_abbreviations[card_arr[:set]]
      card_link = "https://pkmncards.com/wp-content/uploads/" + card_arr[:name] + '-' + card_arr[:set] + '-' + card_arr[:abbr] + '-' + card_inf[:number].to_s + ".jpg"

  %>
    <p><%= image_tag card_link %></p>
    <!-- card_link = card_inf.name.downcase.sub! " ", "-" >
    < card_link = card_link + "-" + card_inf.set.downcase.gsub(" ", "-") >
    <
      abbreviations = {"risingrivals" => "rr"}

      card_link = card_link + "-" + abbreviations[card_inf.set.downcase.gsub("[\W]", "")]
      card_link = card_link + "-" + card_inf.number
      card_link = "https://pkmncards.com/wp-content/uploads/" + card_link + ".jpg" >
    < card_link -->
  <% end %>
</fieldset>
