// Place all the styles related to the CubeCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.evoline > label, .evoline > input {
  display: inline;
}
